################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonWpfApp/bin/Debug
/MonWpfApp/obj/Debug
/MonWpfApp/_assets
